footer {
    grid-area: footer;
    margin: $marg-padd;
    padding: $marg-padd;
    width: 100%;
}

.footer__redes {
    display: flex;
    justify-content: space-around;
}
.footer__derechos {
    font-size: 20px;
}