$color-texto: white;
$marg-padd: 0.5rem;
$color-boton: rgb(20, 20, 20);
$width-fotos: 300px;
$color-back: #ff9d00;
$height-fotos: 400px;
$font-titulo-medallero: italic;
$font-principal: 'Montserrat', sans-serif;
$color-boxshadow: #adb5bd;