@import 'variables';
@import 'header';
@import 'footer';


*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-back;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

main {
    grid-area: main;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: $font-principal;
    text-align: center;
    color: $color-texto;
    font-size: 35px;
    padding: $marg-padd*2;
}
h2 {
    color: $color-texto;
    font-family: $font-principal;
    text-align: center;
    margin: $marg-padd;
    padding: $marg-padd;
    font-size: 30px;
}
h3 {
    font-family: $font-principal;
    color: $color-texto;
    font-size: 20px;
    padding: $marg-padd;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $color-texto;
    line-height: 20px;
    padding: $marg-padd;
}

a {
    color: $color-texto;
    text-decoration: none;
}
li {
    padding: $marg-padd;
}

.grid__containerIndex {
    display: grid;
    grid-template-rows: 1fr 0.3fr 0.5fr;
    grid-template-areas: "portada portada portada portada"
                        "portada__boton portada__boton portada__boton portada__boton"
                        "portada__invitacion portada__invitacion portada__logoJuegos2022 portada__logoJuegos2022";
}
.navbar-toggler {
    border: none;
    font-size: 25px;
}
.portada {
    grid-area: portada;
    &__fotoPrincipal {
        height: 100%;
        width: 100%;
    }
    &__boton {
        grid-area: portada__boton;
        display: flex;
        justify-content: center;
        padding: $marg-padd*2;
    }
    &__invitacion {
        grid-area: portada__invitacion;
        display: flex;
        justify-content: center;
    }
    &__parrafo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
    }
    &__logoJuegos2022 {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: portada__logoJuegos2022;
    }
    &__logoDiseño {
        border-radius: 10px;
    }
    &__botonEstetica {
        min-width: 130px;
        height: 40px;
        color: $color-boton;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #ced4da;
        box-shadow: 0 5px $color-boxshadow;
    }
    &__botonEstetica:hover {
        box-shadow: 0 3px $color-boxshadow;
        top: 1px;
    }
    &__botonEstetica:active {
        box-shadow: 0 0 $color-boxshadow;
        top: 5px;
    }
}
.effect {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:hover {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}
.futbol__masculino {
    border-radius: 10px;
    width: $width-fotos;
    height: $height-fotos;
    padding: $marg-padd;
}

.futbol__femenino {
    @extend .futbol__masculino;
}

.voley {
    border-radius: 10px;
    width: $width-fotos;
    padding:$marg-padd;
}

.esports {
    @extend .voley;
}
.tenis__mesa {
    @extend .voley;
}
.basquet {
    @extend .futbol__masculino;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    &__boton {
        min-width: 130px;
        height: 40px;
        width: 150px;
        color:$color-boton;
        padding: $marg-padd;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #ced4da;
        box-shadow: 0 5px $color-boxshadow
    }
    &__boton:hover {
        box-shadow: 0 3px $color-boxshadow;
        top: 1px;
    }
    &__boton:active {
        box-shadow: 0 0 $color-boxshadow;
        top: 5px;
    }
}

input {
    border-radius: 5px;
    margin: $marg-padd;
}
.form-select {
    margin: $marg-padd;
    width: 30vw;
}
.form-control {
    @extend .form-select;
}
.grid__containerNosotros {
    grid-template-rows: 0.1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas: "titulo titulo"
                        "informacion staff" 
                        "informacion staff  "
                        "mision mision ";
}
.grid__titulo {
    padding:$marg-padd*2;
    margin: $marg-padd*2;
    text-align: left;
    grid-area: titulo;
}
.grid__informacion {
    grid-area: informacion;
} 
.grid__staff {
    grid-area: staff;
}
.grid__mision {
    display: flex;
    justify-content: flex-start;
    grid-area: mision;
}
.info {
    display: flex;
    flex-direction: column;
    &__videoYoutube {
        padding: $marg-padd;
        border-radius: 20px;
    }
    &__parrafo {
        width: 30vw;
    }
}
.objetivos {
    padding: $marg-padd;
}
.accordion {
    width: 40vw;
}
.accordion-body {
    color: $color-texto;
}
.nosotros__organizadores {
    height: 500px;
    width: 400px;
    border-radius: 5px;
}
.ganadores__foto2019 {
    height: 600px;
    width: $width-fotos;
    border-radius: 10px;
}
.ganadores__foto2020 {
    @extend .ganadores__foto2019;
}

.ganadores__foto2021 {
    @extend .ganadores__foto2019;
}



.ganadores__titulo2019 {
    font-style: $font-titulo-medallero;
    font-size: 60px;
    font-weight: 500;
}

.ganadores__titulo2020 {
    @extend .ganadores__titulo2019;
}

.ganadores__titulo2021 {
    @extend .ganadores__titulo2019;
}
.grid__containerApp {
    display: grid;
    grid-template-areas: "prototipo app app"
                        "prototipo app app";
    grid-template-columns: 1fr 0.9fr;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: app;
    margin: $marg-padd*2;
    padding: $marg-padd*2;
    &__boton {
            min-width: 130px;
            height: 40px;
            color: $color-boton;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border-radius: 5px;
            border: none;
            background: #ced4da;
            box-shadow: 0 5px $color-boxshadow;
        }
        &__boton:hover {
            box-shadow: 0 3px $color-boxshadow;
            top: 1px;
        }
        &__boton:active {
            box-shadow: 0 0 $color-boxshadow;
            top: 5px;
        }
    }
.prototipo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: prototipo;
    margin: $marg-padd;
    padding: $marg-padd;
    &__imagen {
        height: 900px;
        border-radius: 40px;
    }
}

.facebook {
    transition: transform 190ms ease-out;
    height: 5vh;
    &:hover {
        transform: translate(0px, 0px) scale(1.1, 1.1);
    }
}
.instagram {
    @extend .facebook;
}
.youtube {
    @extend .facebook;
}
.twitch {
    @extend .facebook;
}

@media (min-width: 320px) and (max-width: 541px) {
    .grid__containerIndex {
        grid-template-rows: 0.5fr;
        grid-template-areas: "portada"
                            "portada__boton"
                            "portada__invitacion"
                            "portada__logoJuegos2022";
    }
    main {
        padding: 0px;
        margin: 0px;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 15px;
    }
    .header__logo {
        height: 15vh;
    }
    .portada__fotoPrincipal {
        width: 100vw;
        height: 25vh;
    }
    .portada__botonEstetica {
        width: 30vw;
    }
    .portada__boton {
        justify-content: center;
    }
    .portada__parrafo {
        width: 80vw; 
    }
    .portada__logoDiseño {
        width: 70vw;
        height: 30vh;
    }
    .futbol__masculino {
        width: 60vw;
    } 
    .futbol__femenino {
        width: 60vw;
    }
    .basquet {
        width: 65vw;
        height: 40vh;
    }
    .voley {
        width: 70vw;
    }
    .tenis__mesa {
        width: 65vw;
    }
    .esports {
        width: 75vw;
    }
    .futbol__tenis {
        width: 65vw;
        height: 30vh;
    }
    .form-select {
        width: 70vw;
    }
    .form-control {
        width: 70vw;
    }
    .grid__containerNosotros {
        grid-template-areas: "titulo"
                            "informacion"
                            "staff"
                            "mision";
        grid-template-columns: 0.1fr;
    }
    .info__parrafo {
        font-size: 14px;
        width: 98vw;
    }
    .info__videoYoutube {
        width: 95vw;
    }
    .nosotros__organizadores {
        width: 95vw;
        padding: 0.3rem;
    }
    .d-flex {
        flex-direction: column;
    }
    .ganadores__foto2019 {
        height: 80vh;
        padding: $marg-padd;
    }
    .ganadores__titulo2019 {
        text-align: center;
    }
    .ganadores__foto2020 {
        height: 80vh;
        padding: $marg-padd;
    }
    .ganadores__titulo2020 {
        text-align: center;
    }
    .ganadores__foto2021 {
        height: 80vh;
        padding: $marg-padd;
    }
    .ganadores__titulo2021 {
        text-align: center;
    }
    .grid__containerApp {
        grid-template-areas: "prototipo"
                            "app";
        grid-template-columns: 1fr;
    }
    .prototipo__imagen {
        height: 90vh;
    }
    .app {
        padding:$marg-padd*2;
        align-items: flex-start;
        &__boton {
            margin: $marg-padd;
        }
    }
    .accordion {
        width: 70vw;
    }
    .footer__Redes {
        justify-content: space-between;
        width: 90vw;
    }
    .footer__derechos {
        font-size: 10px;
    }
}

@media (min-width: 541px) and (max-width: 720px) {
    .grid__containerIndex {
        grid-template-columns: 2fr 2fr;
        grid-template-areas: "portada portada"
                            "portada__boton portada__boton"
                            "portada__invitacion portada__invitacion"
                            "portada__logoJuegos2022 portada__logoJuegos2022";
    }
    .header__navegacion {
        flex-direction: column;
    }
    .header__logo {
        height: 15vh;
    }
    .portada__boton {
        width: 100vw;
    }
    .portada__logoDiseño {
        width: 60vw;
        padding: 0.1rem;
    }
    .grid__containerNosotros {
        grid-template-areas: "titulo "
                            "informacion "
                            "staff  "
                            "mision ";
    }
    .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__Redes {
        justify-content: space-around;
        width: 100%;
    }
    .grid__containerApp {
        grid-template-areas: "prototipo app"
                            "prototipo app";
        grid-template-columns: 1fr 1fr;
    }
    .prototipo__imagen {
        height: 60vh;
    }
    .app {
        padding:$marg-padd*2;
        align-items: flex-start;
        &__boton {
            width: 40vw;
            margin: $marg-padd;
        }
    }
    
}